body{
  background-color: #EEF1FF;

}
/*FFFAE7*/
hr {
  background-color: #EEF1FF;
  border-style: dotted none none;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}

img{
  height: 220px;
}

h1,h2,h3,h4{
  color: #66BFBF;
}

label{
  color: #25316D;
}

input,textarea{
  color: #790252;
}
td,li{
  color: #790252;
}
a{
  color: #181818;
}
